.container {
    width: 50%;
    border: 1px solid red;

    .itemImage {
        width: 100%;
        height: 40vh;
        position: relative;
    }

    .itemDescription {
        padding: 20px;
        border-top: 1px solid red;
    }
}