$primary: #00b8a9;
$secondary: #ffde7d;
$dark: #000;
$light: #fef5ed;
$success: #62d2a2;
$warning: #ff9a00;
$danger: #ff165d;

@import '~bootstrap/scss/bootstrap.scss';
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

//Button overrides
.btn {
    background-color: #ce6768;
    color: #faf2f2;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    padding-inline: 30px;
    padding-block: 15px;
    font-weight: 500;

    &:hover {
        background-color: #ead0c3;
        color: #faf2f2;
    }

    &:active {
        background-color: #ead0c3 !important;
    }
}

.btn-link {
    color: pink;

    &:hover {
        color: red;
    }
}

.btn-outline-primary {
    color: pink;
    border-color: #ce6768;
}
